/*
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body, html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: white;
  padding: 20px;
}

.contenido {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #f0f0f0;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}
*/
mat-grid-tile {
  background: rgb(165, 232, 192);
}
